<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <meta name="description" content="Cricket World Cup 2015 Schedule">
    <meta name="author" content="itinora">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>Cricket World Cup 2015 Schedule</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet'
          type='text/css'>
    <link href="worldcup.css" rel="stylesheet">
    <link href="unsemantic-grid-responsive-tablet-no-ie7.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="worldcup2015" ng-cloak>
        <div ng-controller="ScheduleCtrl">
            <div class="grid-container">
                <div class="grid-100 align-center">
                    <div id="dates">
                        <div ng-repeat="matchDate in dates" class="date"  ng-mouseover="onDateSelect(matchDate.date);" ng-mouseleave="deselectAll();">
                            <div class="month">{{ month(matchDate.date) }}</div>
                            <div class="dateOfMonth">{{ dateOfMonth(matchDate.date) }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-container">
                <div class="grid-25">
                    <div id="teams">
                        <div class="pool-header">POOL A</div>
                        <div ng-repeat="team in ::teamsInPool('A')" class="team" ng-mouseover="onTeamSelect(team);" ng-mouseleave="deselectAll();" ng-class="{selected: team.selected}" >
                            <div class="team-name">{{ team.name }}</div>
                        </div>
                    </div>
                </div>

                <div class="grid-50 align-center">
                        <div ng-repeat="match in selectedMatches" style="text-align:center;font-size: 1.5em;padding-top: 5px">
                            <div>{{::match.team_one_long}} <i style="font-size: 1em;color: white">vs</i> {{::match.team_two_long}}</div>
                            <div>{{::match.match_type}} <i style="font-size: 1em;color: white">,&nbsp;</i> {{::match.start_time | uppercase}}</div>
                        </div>
                        <div ng-hide="selectedMatches.length" style="text-align:center;font-size: 1.5em">
                            Hover on dates, teams or venues
                        </div>
                </div>

                <div class="grid-25">
                        <div class="pool-header">POOL B</div>
                        <div ng-repeat="team in ::teamsInPool('B')" class="team" ng-mouseover="onTeamSelect(team);" ng-mouseleave="deselectAll();" ng-class="{selected: team.selected}">
                            <div>{{ ::team.name }}</div>
                        </div>
                </div>
            </div>
            <div class="grid-container" style="padding-top: 20px;">
                <div class="grid-100 align-center">
                    <div id="venues">
                        <div ng-repeat="venue in ::venues" class="venue" ng-mouseover="onVenueSelect(venue);" ng-mouseleave="deselectAll();" ng-class="{selected: venue.selected}">
                            <div class="stadium">{{ venue.stadium }}</div>
                            <div class="city">{{ venue.city }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="worldcup.js"></script>
    <script src="matches.svc.js"></script>
</body>
</html>