body {
    font: 100%/1.5em 'Roboto', Arial, Geneva, sans-serif !important;
    margin: 0;
    padding: 0;
    transform-origin: top left;
    background-color: #42420c;
    overflow: hidden;
}

.bg {
    background-image: url("bg.jpg");
    background-size: cover;
    /*-webkit-filter: blur(2px);*/
    /*-moz-filter: blur(2px);*/
    /*-o-filter: blur(2px);*/
    /*-ms-filter: blur(2px);*/
    /*filter: blur(2px);*/
    height: 1080px;
    width: 1920px;
    margin: -1px;
}

#container {
    height: 1080px;
    width: 1920px;
    position: absolute;
    top: 0px;
}

.control {
    background-color: rgba(0, 0, 0, 0.35);
}
.date-strip {
    width: 100%;
    height: 240px;
}

#dates {
    position: relative;
    top: 10px;
    left: 410px;
    width: 1100px;
    text-align: center;
}

.date {
    width: 60px;
    height: 60px;
    border: solid 1px transparent;
    margin: 5px 0px;
    border-radius: 999px;
    display: inline-block;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.80);
}

.date:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.month {
    font-weight: 300;
    font-size: 1em;
    margin-left: 0px;
    margin-top: 5px;
}

.dateOfMonth {
    font-weight: 400;
    font-size: 1.5em;
    margin-left: 0;
}

.teams {
    width: 500px;
    position: absolute;
    top: 310px;
}

.right {
    right: 0px;
}

.pool-header {
    height: 40px;
    font-weight: 500;
    font-size: 1.8em;
    padding-top: 16px;
    color: white;
    text-align: center;
}

.pool-a {
    background-color: rgb(36, 101, 36);
}

.pool-b {
    background-color: rgb(0, 119, 128);
}

.team {
    font-size: 1.8em;
    font-weight: 300;
    padding: 18px 10px 10px 10px;
    height: 33px;
    color: rgba(255, 255, 255, 0.56);
    cursor: pointer;
    margin-bottom: 3px;
}

.team:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.team-name {

}

#venues {
    position: absolute;
    top: 890px;
    left: 0px;
    width: 99.6%;
    padding-left: 7px;
}

.venue {
    font-weight: 300;
    padding: 10px;
    height: 50px;
    color: rgba(255, 255, 255, 0.56);
    cursor: pointer;
    display: inline-block;
}

.venue:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.stadium {
    font-size: 1.5em;
}

.city {
  font-size: 1em;
}

.central {
    border-radius: 999px;
    height: 505px;
    width: 800px;
    position: absolute;
    top: 310px;
    left: 560px;
    padding-top: 0px;
}

.match {
    font-size: 1.8em;
    font-weight: 300;
    padding: 18px 10px 10px 10px;
    height: 50px;
    color: rgba(255, 255, 255, 0.56);
    margin-bottom: 3px;
    width: 780px;
    text-align: center;
}

.team-flag {
    height: 40px;
    margin-bottom: 0px ;
}

.team-shortname {
    font-size: 0.8em;
}

.team-box {
    display: inline-block;
    margin: 5px 20px;
}

.match-details {
    display: inline-block;
    width: 100px;
    position: relative;
    top: -20px;
}

.DN {
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    font-size: 0.6em;
}

.D {
    display: none;
}

.match-time.local {
    font-size: 0.8em;
}

.selected {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

footer {
    color: rgba(255, 255, 255, 0.56);
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 100%;
}

.footer-right {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.footer-right a {
    color: rgba(255, 255, 255, 0.56);
}

a:hover {
    color: white;
}

#twitter-widget-0 {
    margin-bottom: -6px;
    margin-left: 20px;
}

.social {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -18px;
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
}
