<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <meta name="description" content="Cricket World Cup 2015 Interactive Schedule">
    <meta name="author" content="itinora">
    <meta property="og:title" content="Cricket World Cup 2015 Interactive Schedule"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.itinora.com/worldcup2015"/>
    <meta property="og:image" content="http://www.itinora.com/worldcup2015/images/home.png"/>
    <meta property="og:site_name" content="itinora"/>
    <meta property="fb:app_id" content="556989157667768"/>
    <meta property="og:description" content="An interactive way to quickly find out cricket world cup 2015 match dates, teams and venues"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>Cricket World Cup 2015 Interactive Schedule</title>
    <script async src="//www.google-analytics.com/analytics.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet'
          type='text/css'>
    <link href="worldcup.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-touch.js"></script>
</head>
<body ng-app="worldcup2015" ng-cloak onload="scaleWindow()">
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0&appId=556989157667768";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="bg"></div>
<div id="container" ng-controller="ScheduleCtrl">
    <a href="http://www.itinora.com"><img ng-src="images/itinora.png" class="logo" alt="itinora" title="itinora"></a>
    <div class="timezone" >
        <div>Time zone</div>
        <button ng-click="toggleTimeFlag()" class="toggle-button left" ng-disabled="!timeFlag">My Location</button>
        <button ng-click="toggleTimeFlag()" class="toggle-button right" ng-disabled="timeFlag">Venue</button>
    </div>

    <div class="central control">
        <div class="matches" >
            <div ng-repeat="match in selectedMatches" class="match" >
                <div class="team-box">
                    <div class="pool-[[::match.pool]] left-marker"></div>
                    <div style="margin-left: 90px" ng-class="{loser : match.loser === match.team_one_short}">
                        <img ng-src="images/[[::match.team_one_short]].jpg" class="team-flag">
                        <div class="team-shortname">[[::match.team_one_short]]</div>
                    </div>
                </div>
                <div class="match-details">
                    <div ng-show="match.result === undefined">
                        <div>
                            <div class="match-time local">[[getTime(match)]]</div>
                            <div class="[[::match.match_type]]">[[::match.match_type]]</div>
                        </div>
                        <div class="match-venue" >[[::match.city | uppercase]]</div>
                    </div>
                    <div ng-show="match.result !== undefined">
                        <div class="match-score">[[::match.team_one_score]]</div>
                        <div class="match-score">[[::match.team_two_score]]</div>
                        <div class="match-result">[[::match.result]]</div>
                    </div>
                </div>
                <div class="team-box" style="margin-left:-20px;" ng-class="{loser : match.loser === match.team_two_short}">
                    <img ng-src="images/[[::match.team_two_short]].jpg" class="team-flag">
                    <div class="team-shortname">[[::match.team_two_short]]</div>
                </div>
            </div>
            <div ng-hide="selectedMatches.length" class="timezone-message">Timings are shown in your local time</div>
        </div>
    </div>

    <div class="cockpit">
        <div class="date-strip control">
            <div id="dates">
                <div ng-repeat="matchDate in dates" class="date [[matchDate.pool | lowercase]]" ng-click="onDateSelect(matchDate.date, true);"   ng-mouseover="onDateSelect(matchDate.date);" ng-mouseleave="deselectAll();" ng-class="{selected: matchDate.selected}">
                    <div class="month">[[ month(matchDate.date) ]]</div>
                    <div class="dateOfMonth">[[ dateOfMonth(matchDate.date) ]]</div>
                </div>
            </div>
        </div>

        <div class="teams">
            <div class="pool-header pool-A">POOL A</div>
            <div ng-repeat="team in ::poolATeams" class="team control" ng-click="onTeamSelect(team, true);" ng-mouseover="onTeamSelect(team);" ng-mouseleave="deselectAll();" ng-class="{selected: team.selected}" >
                <div class="team-name">[[ team.name ]]</div>
            </div>
        </div>

        <div class="teams control right">
            <div class="pool-header pool-B">POOL B</div>
            <div ng-repeat="team in ::poolBTeams" class="team control" ng-click="onTeamSelect(team, true);" ng-mouseover="onTeamSelect(team);" ng-mouseleave="deselectAll();" ng-class="{selected: team.selected}">
                <div class="team-name">[[ ::team.name ]]</div>
            </div>
        </div>

        <div id="venues" class="control">
            <div ng-repeat="venue in ::venues" class="venue" ng-click="onVenueSelect(venue, true);" ng-mouseover="onVenueSelect(venue);" ng-mouseleave="deselectAll();" ng-class="{selected: venue.selected}">
                <div class="stadium">[[ venue.stadium ]]</div>
                <div class="city">[[ venue.city ]]</div>
            </div>
        </div>

        <footer>
            <div class="social">
                <div class="fb-like" data-href="worldcup2015" data-layout="button_count" data-action="like" data-width="500" data-show-faces="false" data-share="true"></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Checkout this interactive cricket world cup 2015 shecedule" data-via="itinora @cricketworldcup" data-size="small" data-hashtags="cwc15">Tweet</a>
            </div>
            <span class="copyright">&copy; 2015 itinora</span>
            <span class="footer-right source">Source: <a href="https://github.com/itinora/worldcup2015">https://github.com/itinora/worldcup2015</a></span>
        </footer>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="all.min.js"></script>
<script>
    function scaleWindow() {
        if( window.innerWidth > window.innerHeight) {
            var scaleX = window.innerWidth / 1920;
            if (scaleX < 1) {
                var bodyStyle = window.document.body.style;
                bodyStyle.transform = bodyStyle.transform + " scaleX(" + scaleX + ")";
                bodyStyle.webkitTransform = bodyStyle.webkitTransform + " scaleX(" + scaleX + ")";
            }
            var scaleY = window.innerHeight / 1080;
            if (scaleY < 1) {
                var bodyStyle = window.document.body.style;
                bodyStyle.transform = bodyStyle.transform + " scaleY(" + scaleY + ")";
                bodyStyle.webkitTransform = bodyStyle.webkitTransform + " scaleY(" + scaleY + ")";
            }
            document.getElementsByClassName('timezone-message')[0].style.display = "none";
            window.mobile = false;
        } else {
            //mobile portrait devices
            window.mobile = true;
            document.getElementsByClassName('central')[0].className += " mobile";
            document.getElementsByClassName('cockpit')[0].className += " mobile";
            var scale = (window.innerHeight / 2) / 500;
            if(window.innerWidth < 790) { //width of central matches
                scale = window.innerWidth / 790;
            }
            document.getElementById('container').style.width = window.innerWidth + "px";
            document.getElementsByClassName('bg')[0].style.width = window.innerWidth + "px";
            document.getElementsByClassName('logo')[0].style.display = "none";
            document.getElementsByClassName('timezone')[0].style.display = "none";
            document.getElementsByClassName('central')[0].style.transform = document.getElementsByClassName('central')[0].style.transform + " scaleX(" + scale + ") scaleY(" + scale + ")";
            document.getElementsByClassName('central')[0].style.width = window.innerWidth/scale + "px";

            document.getElementsByClassName('cockpit')[0].style.top = (document.getElementsByClassName('central')[0].offsetHeight*scale) + 'px';
            document.getElementsByClassName('cockpit')[0].style.width = window.innerWidth + 'px';
            document.getElementsByClassName('cockpit')[0].style.height = (window.innerHeight - document.getElementsByClassName('central')[0].offsetHeight*scale) + 'px';

            document.getElementsByClassName('date-strip')[0].style.position = "relative";
            document.getElementsByClassName('date-strip')[0].style.height = "240px";
            document.getElementsByClassName('date-strip')[0].style.width = window.innerWidth/scale + "px";
            document.getElementsByClassName('date-strip')[0].style.top = '0px';
            document.getElementsByClassName('date-strip')[0].style.marginTop = '10px';
            document.getElementsByClassName('date-strip')[0].style.transform = document.getElementsByClassName('date-strip')[0].style.transform + " scaleX(" + scale + ") scaleY(" + scale + ")";
            document.getElementById('dates').style.width = (window.innerWidth/scale - 20) + "px";
            document.getElementById('dates').style.left = 0;
            document.getElementById('dates').style.top = 0;

            document.getElementsByClassName('teams')[0].style.width = "300px";
            document.getElementsByClassName('teams')[1].style.width = "300px";
            var teamScale = window.innerWidth/600;
            document.getElementsByClassName('teams')[0].style.top = 0;
            document.getElementsByClassName('teams')[1].style.top = 0;
            document.getElementsByClassName('teams')[0].style.marginTop = (document.getElementsByClassName('date-strip')[0].offsetHeight * scale + 20) + "px";
            document.getElementsByClassName('teams')[1].style.marginTop = (document.getElementsByClassName('date-strip')[0].offsetHeight * scale + 20) + "px";
            document.getElementsByClassName('teams')[1].style.left = (300*teamScale) + 'px';
            document.getElementsByClassName('teams')[1].style.right = '0px';
            document.getElementsByClassName('teams')[0].style.transform = document.getElementsByClassName('teams')[0].style.transform + " scaleX(" + teamScale + ") scaleY(" + teamScale + ")";
            document.getElementsByClassName('teams')[1].style.transform = document.getElementsByClassName('teams')[1].style.transform + " scaleX(" + teamScale + ") scaleY(" + teamScale + ")";

            document.getElementById('venues').style.width = window.innerWidth/scale + "px";
            document.getElementById('venues').style.height = "210px";
            document.getElementById('venues').style.marginLeft = 0;
            document.getElementById('venues').style.top = '0px';
            document.getElementById('venues').style.marginTop = (document.getElementsByClassName('teams')[0].offsetHeight*teamScale + 10) + (document.getElementsByClassName('date-strip')[0].offsetHeight * scale + 20) + "px";
            document.getElementById('venues').style.transform = document.getElementById('venues').style.transform + " scaleX(" + scale + ") scaleY(" + scale + ")";

            document.getElementsByTagName('footer')[0].style.position = 'relative';
            document.getElementsByTagName('footer')[0].style.marginTop = (document.getElementsByClassName('teams')[0].offsetHeight*teamScale + 10) + (document.getElementsByClassName('date-strip')[0].offsetHeight * scale) + "px";
            document.getElementsByClassName('social')[0].style.width = window.innerWidth + 'px';
            document.getElementsByClassName('social')[0].style.height = "40px";
            document.getElementsByClassName('social')[0].style.left = "0px";
            document.getElementsByClassName('copyright')[0].style.display = "block";
            document.getElementsByClassName('copyright')[0].style.height = "30px";
            document.getElementsByClassName('source')[0].style.display = "block";
            document.getElementsByClassName('source')[0].style.position = "relative";
            document.getElementsByClassName('source')[0].style.left = "0";
        }
    }
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40771459-1', 'auto');
    ga('send', 'pageview');

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>