<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <meta name="description" content="Cricket World Cup 2015 Schedule">
    <meta name="author" content="itinora">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>Cricket World Cup 2015 Schedule</title>
    <script async src="//www.google-analytics.com/analytics.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet'
          type='text/css'>
    <link href="worldcup.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="worldcup2015" ng-cloak onload="scaleWindow()">
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0&appId=556989157667768";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="bg"></div>

<div id="container" ng-controller="ScheduleCtrl">
    <div class="date-strip control">
        <div id="dates">
            <div ng-repeat="matchDate in dates" class="date [[matchDate.pool | lowercase]]"  ng-mouseover="onDateSelect(matchDate.date);" ng-mouseleave="deselectAll();" ng-class="{selected: matchDate.selected}">
                <div class="month">[[ month(matchDate.date) ]]</div>
                <div class="dateOfMonth">[[ dateOfMonth(matchDate.date) ]]</div>
            </div>
        </div>
    </div>

    <div class="teams">
        <div class="pool-header pool-A">POOL A</div>
        <div ng-repeat="team in ::teamsInPool('A')" class="team control" ng-mouseover="onTeamSelect(team);" ng-mouseleave="deselectAll();" ng-class="{selected: team.selected}" >
            <div class="team-name">[[ team.name ]]</div>
        </div>
    </div>

    <div class="central control">
        <div style="margin-top: -20px;">
            <div ng-repeat="match in selectedMatches" class="match">
                <div class="team-box">
                    <div class="pool-[[::match.pool]] left-marker"></div>
                    <div style="margin-left: 50px">
                        <img ng-src="images/[[::match.team_one_short]].jpg" class="team-flag">
                        <div class="team-shortname">[[::match.team_one_short]]</div>
                    </div>
                </div>
                <div class="match-details">
                    <div class="[[::match.match_type]]">[[::match.match_type]]</div>
                    <div class="match-time local">[[::match.start_time | uppercase]]</div>
                </div>
                <div class="team-box">
                    <img ng-src="images/[[::match.team_two_short]].jpg" class="team-flag">
                    <div class="team-shortname">[[::match.team_two_short]]</div>
                </div>
            </div>
            <div ng-hide="selectedMatches.length">

            </div>
        </div>
    </div>

    <div class="teams control right">
        <div class="pool-header pool-B">POOL B</div>
        <div ng-repeat="team in ::teamsInPool('B')" class="team control" ng-mouseover="onTeamSelect(team);" ng-mouseleave="deselectAll();" ng-class="{selected: team.selected}">
            <div class="team-name">[[ ::team.name ]]</div>
        </div>
    </div>

    <div id="venues" class="control">
        <div ng-repeat="venue in ::venues" class="venue" ng-mouseover="onVenueSelect(venue);" ng-mouseleave="deselectAll();" ng-class="{selected: venue.selected}">
            <div class="stadium">[[ venue.stadium ]]</div>
            <div class="city">[[ venue.city ]]</div>
        </div>
    </div>

    <footer>
        <div class="social">
            <div class="fb-like" data-href="http://itinora.com/cricketworldcup2015.html" data-layout="button_count" data-action="like" data-width="500" data-show-faces="false" data-share="true"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Checkout this interactive cricket world cup 2015 shecedule" data-via="itinora @cricketworldcup" data-size="small" data-hashtags="cwc15">Tweet</a>
        </div>
        <span>&copy; 2015 itinora</span>
        <span class="footer-right">Source: <a href="https://github.com/itinora/worldcup2015">https://github.com/itinora/worldcup2015</a></span>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="moment-timezone-with-data-2010-2020.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
<script src="all.min.js"></script>
<script>
    function scaleWindow() {
        var scaleX = window.innerWidth / 1920;
        if(scaleX < 1) {
            var bodyStyle = window.document.body.style;
            bodyStyle.transform = bodyStyle.transform + " scaleX(" + scaleX + ")";
        }
        var scaleY = window.innerHeight / 1080;
        if(scaleY < 1) {
            var bodyStyle = window.document.body.style;
            bodyStyle.transform = bodyStyle.transform + " scaleY(" + scaleY + ")";
        }
    }
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40771459-1', 'auto');
    ga('send', 'pageview');

</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>